.content {
  max-height: 100%;
}
.top_layer {
  display: flex;
  height: 50%;
  overflow: auto;
  border-bottom: 1px solid black;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding: 12px;
}
.bottom_layer {
  height: 50%;
  position: relative;
}

.companies {
  width: 200px;
  height: 250px;
  margin: 22px;
  border: 1px solid black;
  border-radius: 25px;
}

@media (max-width: 1024) {
  .top_layout {
    max-height: 40%;
    overflow: auto;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px;
  }
  .bottom_layout {
    max-height: 60%;
    overflow: auto;
  }
  .companies {
    width: 150px;
    height: 180px;
    margin: 10px;
    border: 1px solid black;
  }
  .down_arrow {
    transform: translate(-64px, -8px) rotate(-45deg);
    color: blue;
  }
  .up_arrow {
    transform: translate(-58px, -8px) rotate(45deg);
    color: red;
    font-size: 22px;
  }

  .company__box div:nth-child(1)::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 25px;
    width: 60%;
    height: 0px;
    border: 1px solid black;
  }

  .company__box div:nth-child(2)::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 72px;
    width: 60%;
    height: 0px;
    border: 1px solid black;
  }
}

.companies__company {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.company__title {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}
.company__box {
  position: relative;
  text-align: end;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.company__box div {
  margin: 12px 0 12px 0;
}

.down_arrow {
  transform: translate(-32px, -8px) rotate(-45deg);
  color: blue;
}
.up_arrow {
  transform: translate(-24px, -8px) rotate(45deg);
  color: red;
  font-size: 22px;
}

.company__box div:nth-child(1)::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 26px;
  width: 45%;
  height: 0px;
  border: 1px solid black;
}

.company__box div:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 72px;
  width: 45%;
  height: 0px;
  border: 1px solid black;
}
