.content {
  height: calc(100% - 50px);
}
.top_layer {
  display: flex;
  height: 50%;
  overflow: auto;
  border-bottom: 1px solid black;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 12px;
  flex-direction: column;
}
.bottom_layer {
  height: calc(50% - 80px);
  position: relative;
}
.top_layer__companies {
  position: relative;
  height: 100%;
}
.slick-slider.slick-initialized {
  height: 85%;
}
.slick-initialized .slick-list,
.slick-initialized .slick-list .slick-track {
  height: 100%;
}
.slick-track .slick-slide div {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.company {
  width: 100%;
  border: 1px solid #ecf0f1;
  border-radius: 10px;
  background-color: #ecf0f1;
}
.companies__company {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.company__title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.company__box {
  position: relative;
  text-align: end;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.company__box div {
  margin: 12px 0 12px 0;
}

.down_arrow {
  transform: translate(-32px, -8px) rotate(-45deg);
  color: blue;
}
.up_arrow {
  transform: translate(-24px, -8px) rotate(45deg);
  color: red;
  font-size: 22px;
}

.company__box div:nth-child(1)::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 26px;
  width: 40%;
  height: 0px;
  border: 1px solid black;
}

.company__box div:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 72px;
  width: 40%;
  height: 0px;
  border: 1px solid black;
}
.title h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-left: 30px;
}
.notice {
  margin-left: 30px;
}
.notice h3 {
  font-size: 14px;
  font-weight: 600;
  color: red;
  margin-bottom: 12px;
}
.notice ul li {
  margin-bottom: 12px;
  font-size: 12px;
}
