.content {
  height: calc(100% - 50px);
}
.top_layer {
  display: flex;
  height: 50%;
  overflow: auto;
  border-bottom: 1px solid black;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 12px;
  flex-direction: column;
}
.bottom_layer {
  height: calc(50% - 80px);
  position: relative;
}

.companies {
  width: 150px;
  height: 100px;
  margin: 22px;
  border: 1px solid black;
  border-radius: 25px;
}
.top_layer__companies {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow: auto;
  flex-wrap: wrap;
}

@media screen and (min-width: 650px) {
  .top_layer {
    display: flex;
    height: 50%;
    overflow: auto;
    border-bottom: 1px solid black;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    padding: 12px;
  }
  .top_layer__companies {
    display: flex;
    overflow: auto;
    width: 100%;
  }
  .down_arrow {
    transform: translate(-64px, -8px) rotate(-45deg);
    color: blue;
  }
  .up_arrow {
    transform: translate(-58px, -8px) rotate(45deg);
    color: red;
    font-size: 22px;
  }

  .company__box div:nth-child(1)::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 25px;
    width: 45%;
    height: 0px;
    border: 1px solid black;
  }

  .company__box div:nth-child(2)::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 72px;
    width: 45%;
    height: 0px;
    border: 1px solid black;
  }
}

.companies__company {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.company__title {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}
.company__box {
  position: relative;
  text-align: end;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.company__box div {
  margin: 12px 0 12px 0;
}

.down_arrow {
  transform: translate(-32px, -8px) rotate(-45deg);
  color: blue;
}
.up_arrow {
  transform: translate(-24px, -8px) rotate(45deg);
  color: red;
  font-size: 22px;
}

.company__box div:nth-child(1)::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 26px;
  width: 40%;
  height: 0px;
  border: 1px solid black;
}

.company__box div:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 72px;
  width: 40%;
  height: 0px;
  border: 1px solid black;
}
.title h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-left: 30px;
}
.notice {
  margin-left: 30px;
}
.notice h3 {
  font-size: 14px;
  font-weight: 600;
  color: red;
  margin-bottom: 12px;
}
.notice ul li {
  margin-bottom: 12px;
  font-size: 12px;
}
