.company {
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7f8fa6;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-name {
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 980px) {
  .company {
    width: 20vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7f8fa6;
  }

  .company-name {
    font-size: 18px;
    font-weight: 600;
  }
}
