.news__header {
  margin: 12px 0 12px 0;
}
.news__date_field {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news__date_field span {
  margin: 0 12px 0 12px;
}
.news__empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news__body {
  overflow: auto;
  max-height: 500px;
  padding: 12px 0 12px 0;
}

.news {
  min-height: 80px;
  line-height: 26px;
  padding: 20px;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}
.news h4 {
  margin-bottom: 10px;
  color: #666;
}
.company__news {
  display: none;
}

.company__news.on {
  transition: display 0.3s;
  display: block;
}

.company__news_allow {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
